.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 50%;
  padding: 1rem;
}

.column100 {
  padding: 1rem;
}

.column button {
  line-height: 2rem;
  font-size: larger;
  width: 100%;
  color: black;
}

button span.animation:nth-child(1),
button span.animation:nth-child(5) {
  color: red;
}

button span.animation:nth-child(2),
button span.animation:nth-child(4) {
  color: blue;
}

button span.animation:nth-child(3) {
  color: green;
}
